@font-face {
  font-family: 'muikku';
  src:  url('fonts/muikku.eot?lkq7i6');
  src:  url('fonts/muikku.eot?lkq7i6#iefix') format('embedded-opentype'),
    url('fonts/muikku.ttf?lkq7i6') format('truetype'),
    url('fonts/muikku.woff?lkq7i6') format('woff'),
    url('fonts/muikku.svg?lkq7i6#muikku') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'muikku' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart-plus:before {
  content: "\e92d";
}
.icon-muikku-link:before {
  content: "\e92a";
}
.icon-file-text1:before {
  content: "\e92c";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-more_vert:before {
  content: "\e904";
}
.icon-chat:before {
  content: "\e903";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-flag:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e639";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-user:before {
  content: "\f007";
}
.icon-trash:before {
  content: "\f014";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-support:before {
  content: "\f1cd";
}
.icon-paper-plane:before {
  content: "\f1d9";
}
.icon-trash-alt:before {
  content: "\f1f8";
}
.icon-envelope-open:before {
  content: "\f2b7";
}
.icon-home:before {
  content: "\e901";
}
.icon-books:before {
  content: "\e920";
}
.icon-profile:before {
  content: "\e923";
}
.icon-undo:before {
  content: "\e965";
}
.icon-back:before {
  content: "\e967";
}
.icon-bubbles:before {
  content: "\e970";
}
.icon-users:before {
  content: "\e972";
}
.icon-cog:before {
  content: "\e994";
}
.icon-statistics:before {
  content: "\e929";
}
.icon-filter:before {
  content: "\e927";
}
.icon-cc-zero:before {
  content: "\e925";
}
.icon-cc-pd:before {
  content: "\e91f";
}
.icon-cc-sa:before {
  content: "\e91e";
}
.icon-cc-nd:before {
  content: "\e921";
}
.icon-cc-nc:before {
  content: "\e922";
}
.icon-cc-by:before {
  content: "\e924";
}
.icon-cc:before {
  content: "\e926";
}
.icon-sort-amount-desc:before {
  content: "\e91b";
}
.icon-sort-amount-asc:before {
  content: "\e91d";
}
.icon-pinterest:before {
  content: "\e91c";
}
.icon-instagram:before {
  content: "\e917";
}
.icon-twitter:before {
  content: "\e918";
}
.icon-facebook:before {
  content: "\e919";
}
.icon-linkedin:before {
  content: "\e91a";
}
.icon-location:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-copy:before {
  content: "\e915";
}
.icon-paste:before {
  content: "\e916";
}
.icon-unarchive:before {
  content: "\e914";
}
.icon-archive:before {
  content: "\e913";
}
.icon-sort-desc:before {
  content: "\e90d";
}
.icon-sort-asc:before {
  content: "\e90e";
}
.icon-sort-alpha-desc:before {
  content: "\e911";
}
.icon-sort-alpha-asc:before {
  content: "\e912";
}
.icon-stop:before {
  content: "\e90b";
}
.icon-record:before {
  content: "\e062";
}
.icon-restriction:before {
  content: "\e637";
}
.icon-minus:before {
  content: "\e15b";
}
.icon-share:before {
  content: "\e90a";
}
.icon-copyright:before {
  content: "\e907";
}
.icon-thumb-up:before {
  content: "\f164";
}
.icon-thumb-down:before {
  content: "\f165";
}
.icon-key:before {
  content: "\f049";
}
.icon-error:before {
  content: "\e906";
}
.icon-cross:before {
  content: "\e905";
}
.icon-download:before {
  content: "\f019";
}
.icon-puzzle:before {
  content: "\e634";
}
.icon-move:before {
  content: "\e617";
}
.icon-search:before {
  content: "\e61c";
}
.icon-cogs:before {
  content: "\e61d";
}
.icon-star-full:before {
  content: "\e62b";
}
.icon-star-empty:before {
  content: "\e62c";
}
.icon-clock:before {
  content: "\e62d";
}
.icon-question:before {
  content: "\e635";
}
.icon-plus:before {
  content: "\e114";
}
.icon-evaluate:before {
  content: "\e63d";
}
.icon-assessment-canceled:before {
  content: "\e321";
}
.icon-assessment-pending:before {
  content: "\e9df";
}
.icon-attachment:before {
  content: "\e60e";
}
.icon-pin:before {
  content: "\e613";
}
.icon-eye:before {
  content: "\e60b";
}
.icon-assessment-unassessed:before {
  content: "\e9e1";
}
.icon-assessment-pass:before {
  content: "\e9e9";
}
.icon-assessment-cancel:before {
  content: "\e9f3";
}
.icon-assessment-fail:before {
  content: "\e9fb";
}
.icon-navicon:before {
  content: "\e609";
}
.icon-spinner:before {
  content: "\e909";
}
.icon-coin-euro:before {
  content: "\e90c";
}
.icon-tag:before {
  content: "\e908";
}
.icon-tags:before {
  content: "\e928";
}
.icon-lock-open:before {
  content: "\e90f";
}
.icon-lock:before {
  content: "\e910";
}
.icon-book:before {
  content: "\f02d";
}
.icon-lightbulb:before {
  content: "\f0eb";
}
.icon-arrow-left:before {
  content: "\f104";
}
.icon-arrow-right:before {
  content: "\f105";
}
.icon-arrow-up:before {
  content: "\f106";
}
.icon-arrow-down:before {
  content: "\f107";
}
.icon-leanpub:before {
  content: "\f212";
}
.icon-forward:before {
  content: "\e969";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-location2:before {
  content: "\e948";
}
.icon-board:before {
  content: "\e92b";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
